:root {
  --orange: #e77d26;
  --lightblue: #344a5e;
  --darkblue: #212e40;
  --lightgray: #bec4c6;
  --darkgray: #9b9b9b;
  --extralightgray: #ecf0f1;
  --black: #111;
  --white: #fff;
}

html,
body {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  font-weight: bold;
  letter-spacing: 5%;
}

h2,
.h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: bold;
  letter-spacing: 2.5%;
}
h3,
.h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 2%;
  text-transform: uppercase;
}
h4,
.h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2%;
}
h5,
.h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2%;
}
h6,
.h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.pbig {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.psmall,
input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

/* 中型裝置 */
@media screen and (width < 1440px) {
  h1 {
    font-size: 72px;
  }
  h2,
  .h2 {
    font-size: 48px;
  }
  h3,
  .h3 {
    font-size: 44px;
  }
  h4,
  .h4 {
    font-size: 30px;
  }
  h5,
  .h5,
  h6,
  .h6 {
    font-size: 22px;
  } /* h5和h6保持相同大小 */
  .pbig {
    font-size: 18px;
    line-height: 24px;
  }
  .psmall,
  input::placeholder {
    font-size: 16px;
    line-height: 20px;
  }
}

/* 小型裝置寬度設定 */
@media screen and (width < 768px) {
  h1 {
    font-size: 48px;
  }
  h2,
  .h2 {
    font-size: 32px;
  }
  h3,
  .h3 {
    font-size: 28px;
  }
  h4,
  .h4 {
    font-size: 24px;
  }
  h5,
  .h5,
  h6,
  .h6 {
    font-size: 20px;
  } /* h5和h6保持相同大小 */
  .pbig {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
  .psmall,
  input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
  }
}

.btn-dark {
  height: 85px;
  background-color: var(--lightgray);
  color: var(--darkblue);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.btn-dark:hover {
  box-shadow: -10px 10px var(--lightgray);
  color: var(--white);
  background-color: var(--orange);
}

.btn-light {
  background-color: var(--extralightgray);
  color: var(--darkblue);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.btn-light:hover {
  box-shadow: -10px 10px var(--lightgray);
  color: var(--white);
  background-color: var(--orange);
}

/*頁面導覽列*/

header {
  width: 66%;
  margin: 0 auto 100px;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

header .top {
  max-width: 1268px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 40px 0 0 0;
}

header .top .logo {
  grid-column: 2 / 3;
  justify-self: center;
}

header .top .logo a {
  text-align: center;
  position: relative;
  transition: 0.3s ease-in-out;
}

header .top .logo a .logohover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

header .top .logo a:hover .logohover {
  display: block;
}

header .top nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .top nav ul {
  display: flex;
  justify-content: flex-end;
}

header .top .nav-list {
  width: 40px;
  height: 40px;
}

header .top .nav-list + .nav-list {
  margin-left: 40px;
}

#member-pic {
  width: 50px;
}

header .top .menu {
  position: relative;
}

header .top .menu img {
  cursor: pointer;
}

/*要顯示下拉menu要改這個*/
header .top .menu .menu-link-list {
  position: absolute;
  top: calc(100% + 20px);
  right: -20px;
  display: none;
  transition: 1s ease-in-out;
}

header .top .nav-list input {
  display: none;
}

#menu-btn:checked ~ .menu .menu-link-list {
  display: block;
}

header .top .menu .menu-link-list ul {
  display: flex;
  flex-direction: column;
}

header .top .menu .menu-link-list .menu-link {
  width: 260px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header .top .menu a {
  border: 1px solid var(--lightgray);
  height: 100%;
  width: 100%;
  background-color: var(--darkblue);
  color: var(--white);
  text-decoration: none;
  padding: 5px 7px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .top .menu a:hover {
  background-color: var(--orange);
  color: var(--white);
}

.header .pagetype {
  display: grid;
  grid-template-columns: 50% 6% 44%;
  /* grid-template-rows: 95px 95px; */
  max-width: 1268px;
  margin: 150px auto 0;
  color: var(--darkblue);
}

.header .page-intro {
  display: contents;
}

.header .pagetype .title {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: end;
  color: var(--darkblue);
}

.header .pagetype .page-intro h4 {
  grid-column: 2/4;
  grid-row: 1/2;
  color: var(--darkblue);
}
.header .pagetype .page-intro .up {
  grid-column: 2/4;
  grid-row: 1/2;
  align-self: end;
  color: #111;
}
.header .pagetype .page-intro .down {
  grid-column: 3/4;
  grid-row: 2/3;
  color: #111;
  padding-left: 10px;
}

.header .pagelink li a.h4 {
  font-size: 28px;
}

.readmore {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.readmore:hover {
  text-decoration: underline;
}

/* 頁首快速連結按鈕 */

header .pagelink ul {
  display: grid;
  align-items: center;
  column-gap: 4.5vw;
  max-width: 1268px;
  margin: 60px auto 0;
}

header .pagelink ul a {
  width: 100%;
  text-align: center;
}

/* 回到上方 */

section.content {
  position: relative;
}

section.content .backtotop {
  height: 99%;
  width: 80px;
  position: absolute;
  top: 0;
  right: 8%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

section.content .backtotop .top-wrap {
  position: sticky;
  padding-top: 400px;
  top: 700px;
  width: 70px;
  height: 80px;
  background-color: var(--orange);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  opacity: 0.7;
  box-sizing: border-box;
  text-decoration: none;
}

section.content .backtotop .top-wrap:hover {
  opacity: 1;
  box-shadow: 5px 5px 3px var(--lightgray);
}

section.content .backtotop .top-wrap p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 3%;
  display: block;
  padding-top: 10px;
}
