.header {
  background-image: url("main-heroimg.png");
}

@media (width < 770px) {
  .header {
    background-image: url("main-heroimg-small.png");
  }
}

/*標題和頁面簡介*/

header .pagelink ul {
  grid-template-columns: repeat(3, 1fr);
  margin: 40px auto 0;
}

/* 這些是universe有的內容再進行修改 */
.header .pagetype-main {
  display: grid;
  grid-template-columns: 50% 6% 44%;
  max-width: 1268px;
  margin: 200px auto 0;
  color: var(--darkblue);
}

@media (width < 770px) {
  .header .pagetype-main {
    display: block;
    grid-template-columns: none;
    margin: 260px auto 0;
    color: var(--darkblue);
    text-align: center;
  }
}

.header .page-intro {
  display: contents;
}

.header .pagetype-main .title {
  grid-column: 1/3;
  grid-row: 3/4;
  justify-self: end;
  color: var(--darkblue);
  align-self: flex-end;
}

.header .pagetype-main .page-intro h4 {
  grid-column: 2/4;
  grid-row: 1/2;
  color: var(--darkblue);
}
.header .pagetype-main .page-intro .up {
  display: block;
  padding-top: 8px;
  grid-column: 2/4;
  grid-row: 2/3;
  align-self: end;
  color: #111;
}
.header .pagetype-main .page-intro .down {
  grid-column: 3/4;
  grid-row: 3/4;
  color: #111;
}

.page-intro .h6 {
  grid-column: 3/4;
  grid-row: 3/4;
  display: block;
  color: var(--lightgray);
  font-weight: 600;
  font-size: 32px;
  align-self: flex-end;
}

@media (width < 1920px) {
  .page-intro .h6 {
    font-size: 26px;
  }
}
@media (width < 1440px) {
  .page-intro .h6 {
    font-size: 20px;
  }
}

/* 最新消息-grid structure */
.latestnews .wrap {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 66%;
  max-width: 1268px;
  margin: -40px auto 0;
}

.latestnews .news-list {
  grid-column: 1/2;
  grid-row: 2/4;
}

.latestnews #news1-pic {
  grid-column: 2/3;
  grid-row: 2/4;
  justify-self: end;
}
.latestnews #news2-pic {
  grid-column: 3/4;
  grid-row: 1/3;
}
.latestnews #news3-pic {
  grid-column: 3/4;
  grid-row: 3/4;
}

/* 最新消息-detail adjust */

.latestnews .news-pic img {
  vertical-align: middle;
  transition: 0.3s ease-in-out;
  max-width: 100%;
}

.latestnews #news3-pic img {
  max-width: 80%;
}

.latestnews .news-pic {
  overflow: hidden;
}

.latestnews .news-pic img:hover,
.img-hover {
  scale: 1.1;
  transition: 0.5s ease-in-out;
}

@media (width < 770px) {
  .latestnews .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: none;
    width: 100%;
    margin: 0;
    padding: 0 20px 20px;
  }

  .latestnews .news-pic {
    transition: 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
    margin: -15px 0 25px;
  }

  .latestnews .news-pic.fadeIn {
    height: 400px;
  }

  .latestnews .news-pic img,
  .latestnews #news3-pic img {
    width: 100%;
    max-width: 600px;
  }
}

.latestnews .news-list .news-title {
  color: var(--darkblue);
}

.latestnews .news-list .release-day {
  color: #111;
  margin-bottom: 20px;
}

.latestnews .news-list a.h5 {
  display: block;
  padding-top: 20px;
  color: var(--darkblue);
  font-size: 20px;
}

.news-list .readmore {
  display: block;
  justify-content: end;
  margin-right: 10px;
}

/* 課程區域 */

.course .wrap {
  display: grid;
  grid-template-columns: 30% 20% 50%;
  width: 66%;
  max-width: 1268px;
  margin: 0 auto 0;
}

@media (width < 770px) {
  .course .wrap {
    display: flex;
    grid-template-columns: none;
    max-width: 600px;
    width: 100%;
    padding: 0 20px 20px;
  }
}

@media (width > 770px) {
  h3.section-title {
    margin-bottom: -20px;
  }
}

.course .wrap.second {
  margin-top: 60px;
}

.course .wrap .sub-wrap {
  grid-column: 3/4;
}

.course .wrap .sub-wrap .subtitle {
  color: var(--darkblue);
}

.course .wrap .sub-wrap .intro {
  color: #111;
  display: block;
  padding: 5px 0;
}

.course .wrap .sub-wrap a {
  display: block;
  justify-content: end;
}

.course .pic-list {
  width: 66%;
  max-width: 1268px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course .pic-list .pic {
  width: 30%;
  position: relative;
}

.course .pic-list .pic img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

@media (width < 770px) {
  .course .pic-list {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: none;
    flex-wrap: nowrap;
    padding: 0 20px;
    gap: 160px;
    margin: -10px auto 160px;
  }

  .course .pic-list .pic {
    width: 100%;
    position: relative;
  }
}
.course .pic-list .pic .hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--darkblue);
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
  transition: 0.5s ease-in-out;
  user-select: none;
}

.course .pic-list .pic:hover .hover {
  opacity: 0.8;
}

.course .pic-list .pic .hover p {
  color: #fff;
  line-height: 32px;
}

@media (width <1800px) {
  .course .pic-list .pic .hover p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }
}

@media (width < 770px) {
  .course .pic-list .pic .hover {
    /* position: absolute; */
    top: auto;
    bottom: -100px;
    /* left: 0; */
    background: linear-gradient(
      to bottom,
      transparent,
      rgba(52, 74, 94, 0.6) 30%,
      var(--darkblue) 70%
    );
    /* width: 100%; */
    height: auto;
    padding: 55px 30px 15px;
    display: block;
    opacity: 1;
  }

  .course .pic-list .pic .hover p {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    display: block;
    padding: 5px 0;
  }
}

/* 社群和其他區塊-->同community grid排版 */

/* grid版型部分 */

.community .news-list {
  width: 66%;
  max-width: 1268px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 70px;
}

.community .news-list .news-card {
  display: contents;
}

.news-card p {
  color: #111;
}

@media (width < 770px) {
  .community .news-list {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-template-columns: none;
    padding: 0 20px;
  }
  .community .news-list .news-card + .news-card {
    display: block;
  }

  .community .news-list .news-card {
    display: block;
  }
}
.community .news-card .subwrapA-1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.community .news-card .subwrapA-2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.community .news-card .subwrapB-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.community .news-card .subwrapB-2 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.community .news-card .subwrapC-1 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.community .news-card .subwrapC-2 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.community .social-media {
  grid-column: 1/2;
  grid-row: 4/5;
}

/* 樣式細節部分 */

.community .news-card .subtitle {
  color: var(--darkblue);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  white-space: nowrap;
}

.community .news-card .subtitle .line {
  display: block;
  width: 100px;
  height: 50%;
  border-bottom: 3px solid var(--darkblue);
  margin: 0 10px;
  white-space: nowrap;
}

@media (width < 400px) {
  .community .news-card .subtitle .line {
    flex-grow: 1;
  }
}

.community .news-card img {
  width: 100%;
  vertical-align: middle;
}

.community .news-card .text {
  padding: 5px;
}

.community .news-card .text .hashtag {
  display: block;
  padding: 5px 0;
  color: var(--darkgray);
}

.news-card .readmore {
  display: block;
  padding-top: 20px;
}

.community .social-media {
  grid-row: 3/4;
  justify-self: center;
  align-self: end;
  color: var(--darkblue);
}
.community .social-media p {
  display: block;
  padding: 10px 0;
  text-align: end;
}

.community .social-media .media-icon img {
  width: 70px;
  height: 70px;
}

.community .social-media .icon + .icon {
  margin-left: 30px;
}

.foot-img {
  width: 100%;
  position: relative;
  z-index: -1;
  margin-top: -250px;
}

@media (width < 770px) {
  .foot-img {
    width: 100%;
    position: relative;
    z-index: -1;
    margin-top: -50px;
  }
}

.foot-img img {
  width: 100%;
  vertical-align: bottom;
}
