header {
  margin: 0 auto;
}

.header {
  background-image: url("team-heroimg.png");
  padding-bottom: 40px;
}

@media (width < 768px) {
  .header {
    background-image: url("team-heroimg-small.png");
    padding-bottom: 20px;
    /* height: 350px; pic-height*/
  }
}

/*標題和頁面簡介*/
.header .pagetype {
  display: grid;
  grid-template-columns: 50% 6% 44%;
  grid-template-rows: 110px 95px;
  max-width: 1268px;
  margin: 150px auto 0;
  color: var(--darkblue);
}

@media (width < 768px) {
  .header .pagetype {
    display: block;
    text-align: center;
    margin: 260px auto 0;
    color: var(--darkblue);
  }
}

.highlight {
  background-color: var(--lightblue);
  color: #fff;
  padding: 20px 0;
}

.highlight .wrap {
  width: 55%;
  max-width: 1268px;
  margin: 0 auto;
}

.highlight .wrap .slide {
  display: contents;
}

.highlight .wrap ul {
  display: block;
  columns: 2; /* 創建兩欄 */
  -webkit-columns: 2; /* 為了兼容舊版的Safari和Chrome */
  -moz-columns: 2; /* 為了兼容Firefox */
  margin: 15px 0;
  list-style-type: disc;
  padding-left: 100px;
}

.highlight .wrap ul li {
  font-size: 18px;
  line-height: 26px;
}

@media (width < 768px) {
  .highlight {
    background-color: #fff;
    color: var(--darkblue);
    padding: 20px;
  }

  .highlight .wrap {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .highlight .wrap ul {
    display: flex;
    gap: 60px;
    overflow: auto;
    padding: 0 0 20px 20px;
  }

  .highlight .wrap .slide {
    display: block;
  }

  .slide li {
    width: 80vw;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 5px;
    letter-spacing: -5%;
  }
}
/* 團隊成員介紹區域 */

.card-list {
  display: grid;
  width: 66%;
  max-width: 1268px;
  margin: 80px auto -50px;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

@media (width < 1680px) {
  .card-list {
    width: 100%;
    margin: 20px 0 0;
    padding: 20px 0;
    grid-template-columns: 50% 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-list .card {
  width: 385px;
  height: 800px;
  position: relative;
}

@media (width < 768px) {
  .card-list {
    margin: 0;
  }
  .card-list .card {
    width: 70%;
    height: auto;
    position: relative;
    margin-bottom: 40px;
  }
}

/* 團隊成員介紹區域-grid架構 */

.card-list .card:nth-child(odd) {
  grid-column: 1/2;
}
.card-list .card:nth-child(even) {
  grid-column: 2/3;
}

.card-list .card:nth-child(1) {
  grid-row: 1/3;
}
.card-list .card:nth-child(2) {
  grid-row: 2/4;
}
.card-list .card:nth-child(3) {
  grid-row: 3/5;
}
.card-list .card:nth-child(4) {
  grid-row: 4/6;
}
.card-list .card:nth-child(5) {
  grid-row: 5/7;
}
.card-list .card:nth-child(6) {
  grid-row: 6/8;
}
.card-list .card:nth-child(7) {
  grid-row: 7/9;
}
.card-list .card:nth-child(8) {
  grid-row: 8/10;
}

/* 團隊成員介紹區域-樣式調整 */
.card-list .nickname,
.card-list .work-1,
.card-list .work-2 {
  position: absolute;
  right: 300px;
  white-space: nowrap;
  color: var(--orange);
  z-index: 1;
}

.card-list .nickname {
  top: 30px;
}

.card-list .work-1 {
  top: 80px;
}

.card-list .work-2 {
  top: 115px;
}

.card-list .nickname::before,
.card-list .work-1::before,
.card-list .work-2::before {
  content: attr(data-storke);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px #fff;
}

@media (width < 768px) {
  .card-list .nickname,
  .card-list .work-1,
  .card-list .work-2 {
    position: absolute;
    right: auto;
    left: -20px;
    white-space: nowrap;
    color: var(--orange);
    z-index: 1;
    font-size: 20px;
  }

  .card-list .nickname {
    top: 5px;
  }

  .card-list .work-1 {
    top: 40px;
  }

  .card-list .work-2 {
    top: 65px;
  }
}

.card-list .card .license {
  position: absolute;
  top: 370px;
  right: -35px;
  width: 310px;
  height: 72px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--extralightgray);
  box-shadow: -5px 5px var(--lightgray);
  color: var(--darkblue);
}

@media (width < 768px) {
  .card-list .card .license {
    position: absolute;
    top: 250px;
    right: -20px;
    width: 260px;
    height: auto;
    padding: 5px;
  }
}

.card-list .card img {
  vertical-align: middle;
  width: 100%;
}

.card-list .card .intro {
  padding: 5px;
  color: #111;
}

.card-list .card .hashtag {
  padding: 0 5px;
  color: var(--lightgray);
  line-height: 28px;
}

@media (width < 768px) {
  .member div.pbig,
  .member p.pbig {
    font-size: 14px;
  }
  .card-list .card .intro {
    padding: 5px 0;
  }

  .card-list .card .hashtag {
    display: block;
    box-sizing: border-box;
    padding: 0;
    color: var(--lightgray);
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    word-wrap: break-word;
  }
}

.hiring .pic {
  width: 385px;
  height: 472px;
  background-color: var(--orange);
}

.hiring .pic a {
  width: 240px;
  margin: 0 auto;
  padding: 10px 0;
}

.hiring .pic a:hover {
  color: #fff;
  background-color: var(--lightblue);
}

.hiring .nickname,
.hiring .work-1 {
  color: #111;
  left: -80px;
}

@media (width < 768px) {
  .card.hiring {
    width: 100%;
    background-color: var(--orange);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: -20px;
  }

  .card.hiring p.nickname,
  .card.hiring p.work-1,
  .card.hiring .license {
    position: relative;
    top: 0;
    left: 0;
  }

  .card.hiring p.nickname::before,
  .card.hiring p.work-1::before {
    content: "";
  }

  .card.hiring p.nickname,
  .card.hiring p.work-1 {
    color: #fff;
  }

  .card.hiring .pic {
    width: 100%;
    height: auto;
  }

  .card.hiring .pic a {
    width: 100%;
    max-width: 400px;
    margin: 20px auto 20px 0;
  }

  .card.hiring .license {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    color: #fff;
    font-size: 16px;
  }

  .card.hiring .license p:before {
    content: "· ";
  }

  .card.hiring .intro,
  .card.hiring .hashtag {
    color: #fff;
  }
}
