.header {
  height: 550px;
  background-image: url("/team/team-heroimg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*標題和頁面簡介*/
.header .pagetype {
  display: grid;
  grid-template-columns: 50% 6% 44%;
  grid-template-rows: 110px 95px;
  max-width: 1268px;
  margin: 150px auto 0;
  color: var(--darkblue);
}

header .pagelink ul {
  display: flex;
  justify-content: space-between;
  max-width: 1268px;
  margin: 90px auto 0;
}

header .pagelink ul a {
  width: 360px;
}

.highlight {
  background-color: var(--lightblue);
  color: #fff;
  padding: 20px 0;
}

.highlight .wrap h4 {
  text-align: center;
}

.highlight .wrap {
  width: 55%;
  max-width: 1268px;
  margin: 0 auto;
}
.highlight .wrap ul {
  display: block;
  columns: 2; /* 創建兩欄 */
  -webkit-columns: 2; /* 為了兼容舊版的Safari和Chrome */
  -moz-columns: 2; /* 為了兼容Firefox */
  margin: 15px 0;
  list-style-type: disc;
  padding-left: 100px;
}

.highlight .wrap ul li {
  font-size: 18px;
  line-height: 26px;
}

/* 團隊成員介紹區域 */

.member .card-list {
  display: grid;
  width: 66%;
  max-width: 1268px;
  margin: 80px auto -50px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.member .card-list .card {
  width: 385px;
  height: 800px;
  position: relative;
}

/* 團隊成員介紹區域-grid架構 */

.member .card-list .card:nth-child(odd) {
  grid-column: 1/2;
}
.member .card-list .card:nth-child(even) {
  grid-column: 2/3;
}

.member .card-list .card:nth-child(1) {
  grid-row: 1/3;
}
.member .card-list .card:nth-child(2) {
  grid-row: 2/4;
}
.member .card-list .card:nth-child(3) {
  grid-row: 3/5;
}
.member .card-list .card:nth-child(4) {
  grid-row: 4/6;
}
.member .card-list .card:nth-child(5) {
  grid-row: 5/7;
}
.member .card-list .card:nth-child(6) {
  grid-row: 6/8;
}
.member .card-list .card:nth-child(7) {
  grid-row: 7/9;
}
.member .card-list .card:nth-child(8) {
  grid-row: 8/10;
}

/* 團隊成員介紹區域-樣式調整 */
.member .card-list .nickname,
.member .card-list .work-1,
.member .card-list .work-2 {
  position: absolute;
  right: 300px;
  white-space: nowrap;
  color: var(--orange);
  z-index: 1;
}

.member .card-list .nickname {
  top: 30px;
}

.member .card-list .work-1 {
  top: 80px;
}

.member .card-list .work-2 {
  top: 115px;
}

.member .card-list .nickname::before,
.member .card-list .work-1::before,
.member .card-list .work-2::before {
  content: attr(data-storke);
  position: absolute;
  z-index: -1;
  -webkit-text-stroke: 4px #fff;
}

.member .card-list .card .license {
  position: absolute;
  top: 370px;
  right: -35px;
  width: 310px;
  height: 72px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--extralightgray);
  box-shadow: -5px 5px var(--lightgray);
  color: var(--darkblue);
}

.member .card-list .card img {
  vertical-align: middle;
  width: 100%;
}

.member .card-list .card .intro {
  padding: 5px;
  color: #111;
}

.member .card-list .card .hashtag {
  padding: 0 5px;
  color: var(--lightgray);
  line-height: 28px;
}

.member .card-list .hiring .pic {
  width: 385px;
  height: 472px;
  background-color: var(--orange);
}

.member .card-list .hiring .nickname,
.member .card-list .hiring .work-1 {
  color: #111;
  left: -80px;
}
