.header {
  height: 782px;
  background-image: url("product-heroimg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (width < 770px) {
  .header {
    height: 320px;
    background-image: url("product-heroimg-small.png");
    padding-bottom: 20px;
    margin: 0;
  }

  header .pagetype .page-intro {
    display: none;
    overflow: hidden;
  }

  .header .pagetype {
    margin: 140px auto 0;
  }
}

header .pagelink ul {
  grid-template-columns: repeat(3, 1fr);
}

/* shop hot pick共用-related商品區域 */
.related {
  background-color: var(--darkgray);
  padding: 80px 0 80px;
}

.related .wrap {
  width: 66%;
  max-width: 1268px;
  margin: 0 auto;
}

@media (width < 1100px) {
  .related .wrap {
    width: 90%;
    position: relative;
  }
}

/* 商品區域 */

.related .wrap {
  display: flex;
  position: relative;
}

.related .section-title {
  color: #fff;
  margin-top: 0px;
}

#related-list {
  overflow: hidden;
  padding: 10px;
}

#related-roll {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  column-gap: 30px;
  flex-wrap: nowrap;
}

.related .scroll {
  position: absolute;
  top: 36%;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.scroll:hover {
  scale: 1.5;
}

.related .scroll-left {
  left: -40px;
}

.related .scroll-right {
  right: -40px;
}

@media (width < 770px) {
  .related .wrap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    padding: 0 20px;
  }

  #related-list {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  #related-roll {
    flex-wrap: nowrap;
    justify-content: none;
    width: 100%;
    position: relative;
    left: 0;
  }

  .related .scroll-right {
    right: 5%;
    z-index: 2;
  }

  .related .scroll-left {
    left: 5%;
    z-index: 2;
  }
}

.item-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 40px;
  justify-items: center;
}

@media (width < 1860px) {
  .item-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (width < 1281px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width < 770px) {
  .item-list {
    grid-template-columns: 1fr;
  }
}

/* 商品卡片 */
.item-card {
  width: 272px;
  flex-shrink: 0;
  color: #111;
  background-color: #eee;
  padding: 8px;
  box-shadow: -10px 10px 2px #fff;
}

@media (width< 770px) {
  .item-card {
    width: 100%;
    flex-direction: none;
    flex-shrink: 0;
  }
}

.item-card .name {
  font-size: 22px;
  font-weight: 700;
  padding-top: 6px;
}

.item-card .pic {
  width: 100%;
  position: relative;
}

.item-card .pic img {
  width: 100%;
  vertical-align: middle;
}

.item-card .pic .hover {
  width: 0;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--darkblue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  opacity: 0.8;
  line-height: 26px;
  letter-spacing: 5%;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.item-card:hover .hover {
  width: 100%;
}

.item-card .choice {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.item-card .choice .color-list {
  display: flex;
  justify-content: space-between;
}

.item-card .choice .color-list .color {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 4px #aaa;
}

.color-list .bk {
  background-color: #000;
}
.color-list .bl {
  background-color: var(--lightblue);
}
.color-list .og {
  background-color: var(--orange);
}
.color-list .gy {
  background-color: var(--lightgray);
}

.item-card .choice .color-list .color + .color {
  margin-left: 10px;
}

.item-card .choice .size-list {
  flex-grow: 1;
  text-align: end;
  padding-right: 5px;
}

.item-card .pic .tag {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5ex 0.5em;
  color: #fff;
  background-color: var(--orange);
  box-shadow: -5px 5px var(--lightblue);
}

@media (width < 770px) {
  .item-card .pic .tag {
    top: 0;
    right: 0;
  }
}

/* 本頁面商品區域 */

.item {
  width: 66%;
  max-width: 1268px;
  margin: 0 auto;
}

@media (width < 770px) {
  .item {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }
}

.item .breadcrumb ul {
  display: flex;
}

.item .breadcrumb a {
  text-decoration: none;
  color: var(--darkblue);
  transition: 0.2s ease-in-out;
}

.item .breadcrumb a:hover {
  text-decoration: underline;
  color: var(--orange);
}

.item .breadcrumb li + li::before {
  content: ">> ";
  margin-left: 10px;
  color: var(--darkblue);
}

@media (width < 500px) {
  .item .breadcrumb a {
    font-size: 14px;
    white-space: nowrap;
  }

  .item .breadcrumb li + li::before {
    content: "/";
    margin-left: 5px;
    margin-right: 2px;
    font-size: 16px;
  }
}

.item .wrap {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 70px;
  margin-top: 50px;
}

@media (width < 770px) {
  .item .wrap {
    display: block;
    grid-template-columns: none;
    column-gap: 0;
    margin-top: 10px;
  }
}

.item .wrap .pic {
  position: relative;
  width: 100%;
}

.item .wrap .pic img:first-of-type {
  width: 100%;
  vertical-align: middle;
}

.item .wrap .scroll {
  position: absolute;
  top: 45%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.item .wrap .scroll-left {
  left: 40px;
}

.item .wrap .scroll-right {
  right: 40px;
}

.item .wrap .info .hashtag {
  color: var(--darkgray);
  font-weight: 600;
}

.item .wrap .info .item-name {
  color: var(--darkblue);
  display: block;
  margin: 15px 0;
}

.item .wrap .info .item-name span {
  font-size: 18px;
}

.item .wrap .info > * + * {
  margin-top: 20px;
}

.item .wrap .price {
  color: var(--darkblue);
}

.item .wrap .review {
  margin-top: -10px;
}
@media (width < 770px) {
  .item .wrap .info .item-name {
    margin: 5px 0;
  }
  .item .wrap .review {
    margin-top: 0;
  }
  .item .wrap .info > * + * {
    margin: 5px 0;
  }
  .item .wrap .info .hashtag,
  .item .wrap .intro.psmall {
    display: none;
  }

  .choice-color,
  .size-choice {
    margin-top: 10px;
  }
}
.item .wrap .info {
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.item .wrap .info-bottom {
  margin-top: auto;
}

.item .wrap .info .choice-color {
  width: 100%;
}

.item .info .color-list {
  display: flex;
  margin: 6px 0;
}

input[type="radio"] {
  display: none;
}

.color-list .box {
  padding: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.color-list .color {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  box-sizing: border-box;
}

.color-list label + label {
  margin-left: 29px;
}

.color-list input:checked ~ .box {
  border: 1px solid #111;
  /* border-radius: 50%; */
}

.item .info .size-choice {
  margin-bottom: 30px;
}

.item .info .size-choice .subtitle {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

.item .info .size-choice button {
  color: var(--darkgray);
  text-decoration: underline;
  background-color: #fff;
}

.item .info .size-choice ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  margin: 10px 0;
}

@media (width < 770px) {
  .item .info .size-choice ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
    margin: 6px 0;
  }
}

.item .info .size-choice .size {
  width: 45px;
  padding: 12px 0;
  text-align: center;
  color: #111;
  border: 1px solid #111;
  user-select: none;
  cursor: pointer;
}

.size-choice input:checked ~ li {
  background-color: var(--lightgray);
}

.item .buying {
  display: flex;
  overflow: hidden;
}

@media (width < 770px) {
  .item .buying {
    justify-content: space-between;
  }
  .item .buying .icon {
    display: none;
  }
}

.item .buying .number-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item .buying .number-wrap .cal {
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  background-color: var(--lightgray);
  cursor: pointer;
  color: #fff;
  user-select: none;
}

.item input[type="number"] {
  background-color: var(--lightgray);
  border: 2px solid var(--darkgray);
  width: 45px;
  box-sizing: border-box;
  outline: none;
  height: 100%;
  margin: 0 10px;

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 600;
}

@media (width < 770px) {
  .item .buying .number-wrap .cal {
    width: 30px;
  }

  .item #buy-number {
    font-size: 32px;
    width: 60px;
    margin: 0 5px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item button {
  border: none;
  color: #fff;
  position: relative;
  cursor: pointer;
}

#add-btn {
  background-color: var(--orange);
  width: 200px;
  margin-left: 30px;
  overflow: hidden;
}

@media (width < 770px) {
  #add-btn {
    width: 200px;
    flex-grow: 1;
    margin-left: 5px;
    overflow: hidden;
  }
}

#add-btn p {
  position: relative;
  z-index: 2;
}

.item button .hover {
  width: 0;
  height: 0;
  overflow: hidden;
  background-color: var(--lightblue);
  position: absolute;
  top: -20px;
  left: 0;
  rotate: 45deg;
  transition: width 0.2s ease-in-out, height 0.4s ease-in-out;
  z-index: 1;
}

#add-btn:hover .hover {
  width: 200%;
  height: 200%;
}

.item .info .icon {
  align-self: center;
}

@media (width < 1400px) {
  .item .info .icon {
    display: none;
  }
}

.item .info .icon img {
  margin-left: 30px;
}

/* 商品資訊區域 */

.item .detail .wrap .tech-wrap {
  display: flex;
}

.detail {
  margin: 40px 0;
}

.detail .title {
  color: var(--darkblue);
  margin-bottom: 10px;
}

.detail .pbig {
  color: #111;
  padding: 0 5px;
}

.detail .btn-icon img {
  display: none;
}

.detail-type {
  color: var(--darkblue);
  margin-bottom: 10px;
}

ul.wrap2 li a {
  text-decoration: underline;
}

.feature li,
.caring li {
  margin-left: 1em;
  margin-bottom: 2px;
}

.feature li.psmall:before,
.caring li:before {
  content: "•";
  display: inline-block;
  width: 14px; /* 確保 :before 的內容有固定的寬度 */
  margin-left: -1em; /* 將 :before 內容的寬度作為負邊距 */
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tech .tech-wrap img {
  margin-right: 20px;
  width: 115px;
  height: 115px;
}

.tech .tech-wrap .psmall {
  margin-left: 5px;
}
.tech .tech-wrap:last-child {
  padding-bottom: 20px;
}

.item .wrap2 {
  margin: 40px 0;
}

.item .wrap2 a {
  color: #111;
}

@media (width < 770px) {
  #productDetail-toggle,
  #features-btn-toggle,
  #techSpec-btn,
  #care-btn {
    padding: 10px 0 0;
  }

  .detail .btn-icon {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border-bottom: 2px solid var(--lightblue);
  }

  .detail .btn-icon img {
    display: block;
    width: 30px;
    height: 30px;
    transition: transform 0.4s ease;
    transform: rotate(180deg);
  }

  .rotate {
    transform: rotate(0deg) !important;
  }

  #productDetail-toggle,
  #features-btn-toggle,
  .tech .detail-type,
  #techSpec-btn-toggle,
  #care-btn-toggle {
    display: none;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--darkblue);
  }

  ul.tech {
    margin-top: 15px;
    gap: 10px;
  }

  .tech .tech-wrap img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .tech .tech-wrap:last-child {
    padding-bottom: 0;
  }

  #techSpec-btn-toggle {
    padding-top: 10px;
  }

  #care-btn-toggle {
    padding-top: 10px;
  }
}
