.header {
  background-image: url("courseandactivity-top-image.png");
}

@media (width < 770px) {
  .header {
    background-image: url("courseandactivity-top-image-small.png");
    padding-bottom: 20px;
    margin: 0;
  }
}

header .pagelink ul {
  grid-template-columns: repeat(4, 1fr);
}

/*課程區塊*/

.section-title {
  margin: 120px auto 0;
}

@media (width < 770px) {
  .section-title {
    margin: 40px auto 20px;
  }
}

.container {
  margin: 50px auto;
  width: 66%;
  max-width: 1268px;
  position: relative;
}

@media (width < 1100px) {
  .container {
    width: 90%;
  }
}

section.content p.pbig {
  color: #111;
}

section.content p.card-price {
  color: var(--darkblue);
}

section.content section + section {
  margin-top: 150px;
}

section .wrap {
  display: grid;
  grid-template-columns: 55% 45%;
  width: 66%;
  max-width: 1268px;
  margin: -40px auto -20px;
}

@media (width < 770px) {
  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
  }

  section.content section + section {
    margin: 0 auto;
  }

  section .wrap {
    display: flex;
    grid-template-columns: none;
    max-width: 600px;
    width: 100%;
    padding: 0 20px 20px;
    margin: 0 auto;
  }
}

.wrap .course-intro {
  grid-column: 2/3;
}

.course-title {
  grid-column: 1 / 2;
  color: var(--darkblue);
  white-space: nowrap;
}

.course-intro .subtitle {
  color: var(--darkblue);
}

.course-intro .level {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.course-intro .level .round-row {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.round {
  width: 25px;
  height: 15px;
}

.round-light {
  background-color: #d9d9d9;
}
.round-dark {
  background-color: var(--darkblue);
}

.card-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scroll {
  position: absolute;
  top: 43%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.scroll:hover,
.scroll:focus {
  scale: 1.5;
}

.scroll-right {
  right: -50px;
}

.scroll-left {
  left: -50px;
}

.card-list .card {
  width: 260px;
  display: flex;
  flex-direction: column;
}

@media (width < 1660px) {
  .card-list .card {
    width: 220px;
  }
}

@media (width < 770px) {
  .slider {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .card-list {
    flex-wrap: nowrap;
    justify-content: none;
    width: 100%;
    position: relative;
    left: 0;
  }

  .scroll-right {
    right: 5%;
    z-index: 2;
  }

  .scroll-left {
    left: 5%;
    z-index: 2;
  }

  .card-list .card {
    width: 100%;
    flex-direction: none;
    flex-shrink: 0;
  }

  .card-title p {
    font-size: 24px;
  }
}

.card-list .card-title {
  width: 100%;
  height: 72px;
  background-color: var(--extralightgray);
  color: var(--darkblue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img {
  position: relative;
  margin: 20px 0 10px;
}

.card .card-img .card-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkblue);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.card img {
  width: 100%;
  vertical-align: middle;
}

.card:hover .card-hover {
  opacity: 0.7;
}

.card .card-level {
  display: flex;
  justify-content: center;
}

.card .card-level .round {
  margin: 10px 7px;
}

.card .card-price {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.card .card-info {
  flex-grow: 1;
}

/* 頁尾照片區域 */
.photo {
  background-color: var(--extralightgray);
  padding: 120px 0 80px;
  margin-top: -50px;
}

.photo .wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
  max-width: 1520px;
  --photogap: 33px;
}

@media (width < 770px) {
  .photo {
    width: 100%;
    padding: 20px 0 0 0;
    background-color: #fff;
    margin: 0 auto;
  }

  .photo .wrap {
    width: 100%;
    max-width: 600px;
    --photogap: 10px;
  }
}

.photo .wrap img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.photo .wrap #pic-huge {
  position: relative;
  margin-right: var(--photogap);
}

.photo .wrap .pic-small {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: var(--photogap);
  row-gap: var(--photogap);
}

.photo #slogan {
  position: absolute;
  bottom: 70px;
  right: 10px;
  color: #fff;
  animation: shiny 1s ease-in-out infinite;
}

/* ----------slogan動畫 */
@keyframes shiny {
  0%,
  100% {
    color: #fff;
  }
  25%,
  75% {
    color: var(--orange);
  }
}

#slogan span {
  position: relative;
  left: -400%;
}

@media (width < 770px) {
  .photo #slogan {
    bottom: 10px;
    right: 10px;
  }
}

@media (width < 600px) {
  #slogan span {
    position: relative;
    left: -300%;
  }

  .photo .wrap {
    width: 100%;
    padding: 0;
    --photogap: 0;
  }

  .photo .wrap .pic-small {
    display: none;
  }

  .photo #slogan {
    bottom: 40px;
    right: 20px;
    font-size: 36px;
  }
}
