.header {
  background-image: url("courseandactivity-top-image.png");
}

header .pagelink ul {
  grid-template-columns: repeat(4, 1fr);
}

/*課程區塊*/

.container {
  margin: 50px auto;
  width: 66%;
  max-width: 1268px;
}

section.content section + section {
  margin-top: 150px;
}

.wrap {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 66%;
  max-width: 1268px;
  margin: -40px auto -20px;
}

.wrap .course-intro {
  grid-column: 2/3;
}

.course-title {
  grid-column: 1 / 2;
  color: var(--darkblue);
  white-space: nowrap;
}

.course-intro .subtitle {
  color: var(--darkblue);
}

.course-intro .level {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.course-intro .level .round-row {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.round {
  width: 25px;
  height: 15px;
}

.round-light {
  background-color: #d9d9d9;
}
.round-dark {
  background-color: var(--darkblue);
}

.card-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.scroll {
  position: absolute;
  top: 43%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.scroll:hover {
  scale: 1.5;
}

.scroll-right {
  right: -50px;
}

.scroll-left {
  left: -50px;
}

.card-list .card {
  width: 260px;
  display: flex;
  flex-direction: column;
}

@media (width < 1660px) {
  .card-list .card {
    width: 220px;
  }
}

.card-list .card-title {
  width: 100%;
  height: 72px;
  background-color: var(--extralightgray);
  color: var(--darkblue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img {
  position: relative;
  margin: 20px 0 10px;
}

.card .card-img .card-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--darkblue);
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.card img {
  width: 100%;
  vertical-align: middle;
}

.card:hover .card-hover {
  opacity: 0.7;
}

.card .card-level {
  display: flex;
  justify-content: center;
}

.card .card-level .round {
  margin: 10px 7px;
}

.card .card-price {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.card .card-info {
  flex-grow: 1;
}

/* 頁尾照片區域 */
.photo {
  background-color: var(--extralightgray);
  padding: 120px 0 80px;
  margin-top: -50px;
}

.photo .wrap {
  display: flex;
  width: 80%;
  margin: 0 auto;
  max-width: 1520px;
  --photogap: 33px;
}

.photo .wrap img {
  width: 100%;
}

.photo .wrap #pic-huge {
  position: relative;
  margin-right: var(--photogap);
}

.photo #slogan {
  position: absolute;
  bottom: 70px;
  right: 10px;
  color: #fff;
}

.photo .wrap:hover #slogan {
  color: var(--orange);
  transition: 0.3s ease-in-out;
}

.photo .wrap .pic-small {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: var(--photogap);
  row-gap: var(--photogap);
}
